<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Gancione.EVforME-</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>evforme</string>
			</array>
		</dict>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>EVforME? uses photos only on-device to read consumption stickers (L/100 km or kWh/100 km).</string>
	<key>EVFORME_CATALOG_URL</key>
	<string></string>
	<key>EVFORME_ENERGY_URL</key>
	<string></string>
	<key>EVFORME_ANALYTICS_URL</key>
	<string></string>
	<key>EVFORME_LEAD_WEBHOOK_URL</key>
	<string></string>
	<key>EVFORME_PRIVACY_URL</key>
	<string>https://ancybasket.github.io/EVforME/privacy/</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>
